##################################################################################
#
# Laravel API Response Builder Static code analysis Github Action config
#
# @package   MarcinOrlowski\ResponseBuilder
#
# @author    Marcin Orlowski <mail (#) marcinOrlowski (.) com>
# @copyright 2016-2021 Marcin Orlowski
# @license   http://www.opensource.org/licenses/mit-license.php MIT
# @link      https://github.com/MarcinOrlowski/laravel-api-response-builder
#
##################################################################################

name: "Coding Standards"

on:
  push:
    branches:
    - "master"
    - "dev"

jobs:
  build:
    strategy:
      # do not stop the workflow if single run failed
      fail-fast: false
      matrix:
        # quotes are needed it is treated as a number and zero at decimal part is gone at runtime
        laravel: ["8.x"]
        php: ["8.0"]

    runs-on: ubuntu-latest

    steps:
      - name: "Checkout repository..."
        uses: actions/checkout@v2

      - name: "Setup proper composer.json"
        shell: bash
        run: cp -f ".config/composer-laravel-${{ matrix.laravel }}.json" composer.json

      # https://github.com/marketplace/actions/composer-php-actions
      - name: "Installing dependencies..."
        uses: php-actions/composer@v6
        with:
          version: 2
          php_version: "${{ matrix.php }}"
          dev: yes

      - name: "Checking Coding Standards..."
        shell: bash
        run: vendor/bin/phpcs
