##################################################################################
#
# Laravel API Response Builder Static code analysis Github Action config
#
# @package   MarcinOrlowski\ResponseBuilder
#
# @author    Marcin Orlowski <mail (#) marcinOrlowski (.) com>
# @copyright 2016-2023 Marcin Orlowski
# @license   http://www.opensource.org/licenses/mit-license.php MIT
# @link      https://github.com/MarcinOrlowski/laravel-api-response-builder
#
##################################################################################

name: "Static Analysis"

on:
  push:
    branches:
    - "master"
  pull_request:
    branches:
    - "master"
    - "dev"

jobs:
  check:
    strategy:
      # do not stop the workflow if single run failed
      fail-fast: false
      matrix:
        # quotes are needed it is treated as a number and zero at decimal part is gone at runtime
        laravel: ["9.x"]
        php: ["8.0", "8.1"]

    runs-on: ubuntu-latest

    steps:
      - name: "Checkout repository..."
        uses: actions/checkout@v3

      # https://github.com/marketplace/actions/composer-php-actions
      - name: "Installing dependencies..."
        uses: php-actions/composer@v6
        with:
          version: 2
          php_version: "${{ matrix.php }}"
          dev: yes

      # # https://github.com/marketplace/actions/phpstan-php-actions
      # - name: "Running PHPStan..."
      #   uses: php-actions/phpstan@v3
      #   with:
      #     configuration: "phpstan.neon"
      #     php_version: "${{ matrix.php }}"
      #     # memory_limit: "16M"

      - name: "Create cache folder"
        shell: bash
        run: mkdir vendor/orchestra/testbench-core/laravel/bootstrap/cache
      - run: chmod 777 vendor/orchestra/testbench-core/laravel/bootstrap/cache

      - name: "Patching testbench's onNotSuccessfulTest() signature..."
        shell: bash
        run: sed -i 's/^protected function onNotSuccessfulTest(Throwable \$exception): void/protected function onNotSuccessfulTest(Throwable \$exception): never/' vendor/orchestra/testbench-core/src/TestCase.php

      - name: "Running PHPStan..."
        shell: bash
        run: vendor/bin/phpstan
